/* .titleImg-responsive {
  position: absolute;
  top: 0;
  right: 0;
  height: 650px;
}

.titleText-container {
  display: flex;
  flex-direction: column;
  padding-left: 125px;
  position: absolute;
  top: 150px;
}

@media only screen and (max-width: 1600px) {
  .titleImg-responsive {
    height: 550px;
  }
  .titleText-container {
    padding-left: 75px;
  }
}

@media only screen and (max-width: 1400px) {
  .titleText-container > h2 {
    font-size: 3rem;
  }
  .titleImg-responsive {
    height: 500px;
  }
} */
