.app-root {
  display: flex;
  justify-content: center;
}

.app-container {
  width: 100vw;
  max-width: 1440px;
  min-width: 360px;
}

.services {
  background-color: white;
}

.home {
  background-color: #edf2eb;
}
